{{#link-to 'players.index'}}<a href=''>All Players</a>{{/link-to}}<br>
{{#link-to 'players.new'}}<a href=''>Add New Player</a>{{/link-to}}<br>
<br<% <%  %> %>>
{{outlet}}
<!-- {{input type='text' placeholder='Add a new user.' value=newUser}}
<button {{action 'addUser'}} disabled={{isDisabled}}>Add User</button>
<br>
<br>
Username: {{model.username}}
<br>
<br>
{{input type='text' placeholder='Type a new username.' value=username}}
<button {{action 'changeUsername'}} disabled={{isDisabled}}>Change Username</button>

<br>
{{#if responseMessage}}
  <div>
    {{responseMessage}}
  </div>
{{/if}} -->
